* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.25;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.genHeading {
  border-radius: 5px;
  line-height: 1;
  color: #ff6f3c;
  background-color: whitesmoke;
  border: 3px solid #ff6f3c;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 8px;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 1.5px 1.5px rgba(21, 82, 99, 0.2);
  box-shadow: 2px 2px rgba(21, 82, 99, 0.4);
  margin-top: 25px;
  margin-bottom: 25px;
  text-decoration: none;
}
@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}
.boldText {
  font-weight: 700;
}
marquee {
  background-color: #ffc93c;
  padding: 5px;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  background-color: #ffc93c;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 201, 59) 0%,
    rgba(247, 190, 2, 0.913) 90%
  );
  font-family: "Schoolbell", arial, serif;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#heading {
  border-radius: 5px;
  line-height: 1;
  color: #ff6f3c;
  background-color: whitesmoke;
  border: 3px solid #ff6f3c;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 2px;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 1.5px 1.5px rgba(21, 82, 99, 0.2);
  box-shadow: 2px 2px rgba(21, 82, 99, 0.4);
  margin-top: 25px;
  margin-bottom: 25px;
  text-decoration: none;
  width: 45%;
}
@media (max-width: 600px) {
  #heading {
    width: 80%;
  }
}
.navBarList {
  display: flex;
  list-style-type: none;
}
.navBarList li {
  margin: 15px;
}
@media (max-width: 412px) {
  .navBarList {
    flex-direction: column;
  }
}
.navBarList a {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ff6f3c;
}
.navBarList a:hover {
  font-size: 30px;
  color: #155263;
  text-shadow: 1.5px 1.5px rgba(21, 82, 99, 0.2);
}
.truckCont {
  position: fixed;
  top: 70px;
  left: 70px;
}
@media (max-width: 700px) {
  #theTruck {
    visibility: hidden;
  }
}
#theTruck {
  animation-name: truckDrive;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes truckDrive {
  5% {
    transform: translate3d(100px, 0, 0);
  }
  10% {
    transform: translate3d(200px, 0, 0);
  }
  15% {
    transform: translate3d(300px, 0, 0);
  }
  20% {
    transform: translate3d(400px, 0, 0);
  }
  25% {
    transform: translate3d(500px, 0, 0);
  }
  30% {
    transform: translate3d(600px, 0, 0);
  }
  35% {
    transform: translate3d(700px, 0, 0);
  }
  40% {
    transform: translate3d(800px, 0, 0);
  }
  45% {
    transform: translate3d(900px, 0, 0);
  }
  50% {
    transform: translate3d(1000px, 0, 0);
  }
  55% {
    transform: translate3d(1100px, 0, 0);
  }
  60% {
    transform: translate3d(1200px, 0, 0);
  }
  65% {
    transform: translate3d(1300px, 0, 0);
  }
  70% {
    transform: translate3d(1400px, 0, 0);
  }
  75% {
    transform: translate3d(1500px, 0, 0);
  }
  80% {
    transform: translate3d(1600px, 0, 0);
  }
  85% {
    transform: translate3d(1700px, 0, 0);
  }
  90% {
    transform: translate3d(1800px, 0, 0);
  }
  95% {
    transform: translate3d(1900px, 0, 0);
  }
  100% {
    transform: translate3d(2000px, 0, 0);
  }
}
.truckCont:hover {
  animation: hoverShake 1s;
}
@keyframes hoverShake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1.5deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1.5deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1.5deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1.5deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1.5deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1.5deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1.5deg);
  }
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 500px;
}
.intro {
  width: 45%;
}
.landingImg {
  border-radius: 8px;
  display: block;
  margin: auto;
  margin: 20px;
}
#headerTruck {
  transform: rotate(-5deg);
}
#headerToastie {
  transform: rotate(7deg);
}
@media (max-width: 600px) {
  .intro {
    width: 80%;
  }
}
.menuButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuButtonContainer a {
  text-decoration: none;
  font-family: "Schoolbell", arial, serif;
  border: none;
  font-size: 45px;
  color: #ff6f3c;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 10px;
}
.menuButtonContainer a:hover {
  font-size: 50px;
  color: #155263;
  text-shadow: 1.5px 1.5px rgba(21, 82, 99, 0.2);
}
.menu {
  background-color: #ffc93c;
}
.menu .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .menu .container {
    justify-content: space-between;
    align-items: center;
  }
}
#menuHead {
  justify-content: center;
}
.menu .card,
.buildSandwich {
  border: 3px solid #155263;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(21, 82, 99, 0.6);
  text-align: center;
  font-size: 20px;
}
.menu .card {
  width: 40%;
}
@media (max-width: 750px) {
  .menu .card,
  .buildSandwich {
    width: 80%;
  }
}
.cardHeading {
  padding: 10px;
}
table {
  width: 80%;
  padding: 10px;
}
.food {
  text-align: left;
}
.price {
  text-align: right;
}
.sandwichButtonRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}
.sandwichRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.buttonRow {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.buildSandwich input {
  background-color: white;
  border: 1px solid #155263;
  margin: 3px;
  padding: 6px;
  border-radius: 10px;
  font-size: 20px;
}
.buildSandwich input:hover {
  box-shadow: 5px 5px 5px rgba(21, 82, 99, 0.6);
}
.buildSandwich button {
  background-color: #155263;
  border: 1px solid #ff6f3c;
  margin: 3px;
  padding: 10px;
  color: aliceblue;
  border-radius: 10px;
  font-size: 20px;
}
.buildSandwich button:hover {
  background-color: #ff6f3c;
}
#itemsAdded {
  height: 100px;
  font-size: 20px;
}
#priceDisplay {
  color: #ff6f3c;
  text-align: center;
  height: 40px;
  font-size: 40px;
  margin: 20px;
}
.gallery .container {
  display: flex;
  justify-content: space-around;
}
.flexGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.imageContainer {
  position: relative;
}
.gallery img {
  padding: 10px;
}
.toastP {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.findUs .container {
  display: flex;
  justify-content: space-around;
}
.findUs .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card h2 {
  padding: 0;
}
.findUs iframe {
  margin-bottom: 10px;
  width: 500px;
  height: 400px;
}
@media (max-width: 750px) {
  .findUs iframe {
    width: 100%;
  }
}
.contact h2 {
  padding: 10px;
}
.contact {
  background-color: #ff6f3c;
}
.contact .container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.formCont {
  display: flex;
  justify-content: center;
}
.line {
  display: flex;
  justify-content: space-evenly;
}
.line input {
  border: none;
  border-bottom: 2px solid #155263;
  background-color: #ff6f3c;
  width: 100%;
  padding: 10px;
  margin: 15px;
}
.line button {
  margin: 15px;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: #ff9a3c;
  color: rgb(245, 241, 236);
}
.line button:hover {
  background-color: #ffc93c;
  color: black;
  cursor: pointer;
}
::placeholder {
  color: beige;
}
.line input:focus {
  outline: none;
  box-shadow: 0 1px 0 0 #155263;
}
#message {
  background-color: #ff6f3c;
  border: 2px solid #155263;
  height: 100px;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
}
#message:focus {
  box-shadow: none;
  outline: none;
}
@media (max-width: 750px) {
  .contact .container {
    max-width: 95%;
  }
  .contact .line {
    flex-direction: column;
  }
  .line button {
    width: 100%;
  }
  .line input {
    margin: 0px;
  }
  .line button {
    margin-top: 5px;
    margin-left: 0;
  }
  #message {
    margin-top: 5px;
  }
}
.content {
  display: flex;
  flex-direction: column;
}
footer {
  background: white;
  color: #155263;
  text-align: center;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1%;
}
